body {
  background-color: #1c1c1c;
  font-family: "Karla", sans-serif;
  color: white;
}

.container {
  background-color: #1f2937;
  padding: 2rem;
  max-width: 450px;
  margin: 5rem auto;
  border-radius: 5px;
}

.header-white {
  color: white;
  margin: 0;
}
.header-green {
  color: #4adf86;
  margin: 0;
}

.header-text {
  margin-bottom: 3.5rem;
}

button:hover {
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-green {
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  letter-spacing: 1px;
  min-height: 51px;
}

.btn-green:hover {
  background-color: #0a7552;
}

.divider {
  height: 2px;
  background-color: #2f3e53;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.output-container {
  display: flex;
  justify-content: space-between;
}

.output {
  background-color: #273549;
  color: #55f991;
  line-height: 39px;
  height: 39px;
  width: 211px;
  text-align: center;
  border-radius: 5px;
}

.output:hover {
  background-color: #3d5270;
  cursor: pointer;
}

.output:active {
  background-color: #5978a3;
}

.number-input {
  display: flex;
  background-color: #10b981;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.btn-arrow {
  color: white;
  background-color: #2f3e53;
  border: none;
  border-radius: 6px;
  height: 25px;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}

.btn-arrow:hover {
  background-color: #1d2735;
}

.checkbox-group {
  display: flex;
  margin-top: 1rem;
}

.checkbox {
  margin-right: 1rem;
}

.checkbox:hover {
  cursor: pointer;
}

@media (max-width: 515px) {
  body {
    margin: 0;
  }
  .container {
    margin: 0;
    height: 100vh;
  }
  .btn-group {
    flex-direction: column;
    gap: 1rem;
  }
  .output-container {
    flex-direction: column;
  }
  .output {
    width: 100%;
    margin: 0.5rem auto;
  }
}
